{% macro render_field(field, class='form-control', value='', id=None) %}
<div class="form-group">
    <div class="form-label">
        {{ field.label }}
    </div>
    <div class="form-body">
        {# 注意下面的if is判断，none为小写，它为内置的test函数，如果改为大写，会报no test named 'None'错误 #}
        {# 也可以不使用if is判断，而是直接使用if id == None判断，这时None为大写 #}
        {# 参考：https://stackoverflow.com/questions/19614027/jinja2-template-variable-if-none-object-set-a-default-value #}
        {% if id is none %}
            {{ field(class_=class, value=value) }}
        {% else %}
            {{ field(id=id, class_=class, value=value) }}
        {% endif %}
    </div>
    {% if field.errors %}
    <ul class="warning">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{% macro render_submit(field, class='btn btn-primary') %}
<div class="form-group">
    {{ field(class_=class) }}
</div>
{% endmacro %}
