{# {% from "bootstrap/pagination.html" import render_pagination %} #}
{% from "blog/macros/_pagination.html" import pagination_widget %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Blog{% endblock %}
    </title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}">-->
    {% assets "main_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">Blog</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ current_user.gravatar(size=18) }}">
                                Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('blog.user', username=current_user.username) }}">Profile</a></li>
                                <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <h1><a href="{{ url_for('.home', _external=True) }}">My Blog</a></h1>

            <p>Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }},
            {% else %}
                Stranger,
            {% endif %}
            Welcome to the blog!
            </p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}
        {% endblock %}
    </div>

    {% block js %}
    <!--<script src="{{ url_for('static', filename='js/jquery.min.js', _external=True) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>-->
    {% assets "main_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {# 导入Flask-Moment对象 #}
    {{ moment.include_moment() }}
    {% endblock %}
</body>
</html>
