{# 这个宏函数接收一个SQLAlchemy的分页对象及一个视图函数名作为参数，然后生成Bootstrap风格的分页链接列表。#}
{% macro render_pagination(pagination, endpoint) %}
    <nav>
        <ul class="pagination">
            <li>
                <a href="{{ url_for('.home', page=pagination.prev().page, _external=True) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, page=page, _external=True) }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a>…</a><li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="{{ url_for('.home', page=pagination.next().page,  _external=True) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Blog{% endblock %}
    </title>
    {% assets "main_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}">-->
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><a href="{{ url_for('.home', _external=True) }}">My Blog</a></h1>
            <p>Welcome to the blog!</p>
        </div>

        {% block body %}

        {% endblock %}
    </div>

    {% assets "main_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!--<script src="{{ url_for('static', filename='js/jquery.min.js', _external=True) }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>-->
</body>
</html>