{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_following %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li {% if show_following %} class="active"{% endif %}><a href="{{ url_for('.show_following') }}">Followers</a></li>
        {% endif %}
    </ul>
    <div class="row">
    {% include '_posts.html' %}
    {% include '_sidebar.html' %}
    </div>
</div>

{% if pagination %}
<div class="pagination">
    {# {{ render_pagination(pagination, endpoint='.home') }} #}
    {{ pagination_widget(pagination, endpoint='.home') }}
</div>
{% endif %}
{% endblock %}
