{% extends "base.html" %}
{% from "macros/_render_form.html" import render_field, render_submit %}
{% block title %}Post Creation{% endblock %}
{% block body %}
<div class="row">
    <h1 class="text-center">Create A New Post</h1>
    <form method="POST" action="{{ url_for('.new_post') }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.title) }}
        {{ render_field(form.text, id="editor") }}
        {{ render_submit(form.submit) }}
    </form>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>
{% endblock %}
