{% extends "base.html" %}
{% from "macros/_render_form.html" import render_field, render_submit %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12"><h1>{{ post.title }}</h1></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Written By <a href="{{ url_for('.user', username=post.user.username, _external=True) }}">{{ post.user.username }}</a></p>
                <p>{{ moment(post.publish_date).fromNow(refresh=True) }}</p>
            </div>
            <div class="col-lg-6">
                <p class="text-right"> Tags:
                    {% for tag in tags %}
                        <a href="{{ url_for('.tag', tag_name=tag.title, _external=True) }}">{{ tag.title }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ post.text | safe }}
            </div>
        </div>
        <div class="row">
            <div class="post-footer">
                {% if current_user == post.user %}
                <a href="{{ url_for('.edit_post', post_id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {# 如果当前用户是管理员，则可以编辑所有文章 #}
                {% elif admin.can() %}
                <a href="{{ url_for('.edit_post', post_id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                {# 指向页面内评论片段 #}
                <a href="{{ url_for('.post', post_id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} Comments</span>
                </a>
            </div>
        </div>
        <div class="row">
            <h2 id="comments">Comments ({{ post.comments.count() }})</h2>
            {# 仅对登录用户显示评论表单 #}
            {% if current_user.is_authenticated %}
            <div class="comment-form, col-lg-12">
                <h3>New Comment:</h3>
                <form method="POST" action="{{ url_for('.post', post_id=post.id, _external=True) }}">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.name) }}
                    {{ render_field(form.text) }}
                    {{ render_submit(form.submit) }}
                </form>
            </div>
            {% endif %}
            {% include '_comments.html' %}
            {% if pagination %}
            <div class="pagination">
                {{ pagination_widget(pagination, endpoint='.post', fragment='#comments', post_id=post.id) }}
            </div>
            {% endif %}
        </div>
    </div>
    {% include '_sidebar.html' %}
</div>
{% endblock %}
