{% extends "auth/base.html" %}
{% from "macros/_render_form.html" import render_field, render_submit %}
{% block title %}Change Email{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Change Email</h1>
        <form method="POST" action="{{ url_for('.change_email_request') }}">
            {{ form.hidden_tag() }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_submit(form.submit) }}
        </form>
        <hr>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
