{% extends "auth/base.html" %}
{% from "macros/_render_form.html" import render_field, render_submit %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Login</h1>
        <form method="POST" action="{{ url_for('.login', next=request.args.get('next')) }}">
            {{ form.hidden_tag() }}
            {{ render_field(form.username_or_email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.remember) }}
            {{ render_submit(form.submit) }}
        </form>
        <br>
        <p>Forgot your password? Click here to <a href="{{ url_for('.password_reset_request') }}">reset password</a>.</p>
        <p>New user? Click here to <a href="{{ url_for('.register') }}">register</a>.</p>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
